@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import 'variables';

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
}

body::-webkit-scrollbar{
    width: 10px;
    background-color: rgba(255, 255, 255, 0);
}

body::-webkit-scrollbar-thumb{
    background-color: $second-color;
    border-radius: 5px;
}

header{
    display: flex;
    background-color: $primary-color;
    align-items: center;
    justify-content: space-between;
    padding: 0px 60px;
    flex-wrap: wrap;
    div{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    img{
        width: 100px;
    }
    a{
        color: white;
        text-decoration: none;
    }
    h1:hover{
        text-decoration: underline;
    }
    ul{
        list-style: none;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
}

.presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;
    h2{
        color: $primary-color;
        font-size: 1.875rem;
        text-align: center;
        white-space: nowrap;
        width: 16ch;
        border-right: 4px solid;
        animation: typing 2s steps(16), blink .5s infinite step-end alternate;
        overflow: hidden;
    }
    @keyframes typing{
        from{width: 0;}
    }
    @keyframes blink{
        50%{border-color: transparent;}
    }
    p{
        color: $primary-color;
        font-size: 1.875rem;
        text-align: center;
    }
    .imgEmoji{
        margin-bottom: 30px;
    }
    h3{
        color: $second-color;
    }
}

.wave{
    width: 99.5vw;
}

.service{
    background-color: $primary-color;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    article{
        width: 350px;
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $second-color;
        padding: 30px;
        border-radius: 20px;
        row-gap: 20px;
        margin-bottom: 100px;
        box-shadow: 0px 2px 10px rgb(41, 41, 41);
        i{
            color: white;
            font-size: 4.375rem;
        }
        h3{
            font-size: 1.875rem;
        }
    }
}

.portfolio{
    display: flex;
    flex-direction: column;
    div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 200px;
        padding: 50px 100px;
        a{
            text-decoration: none;
            color: $primary-color;
        }
        article{
            box-shadow: 0px 5px 20px $primary-color;
            border-radius: 20px;
            img{
                width: 500px;
                border-radius: 20px 20px 0px 0px;
            }
            h3{
                text-align: center;
            }
            transition: transform 500ms ease-in-out;
        }
        article:hover{
            transform: scale(1.2);
        }
    }
}

.contact{
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    h2{
        font-size: 4.375rem;
        margin-bottom: 30px;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        .nameAndEmail{
            display: flex;
            gap: 0px 30px;
        }
        .divInput{
            display: flex;
            flex-direction: column;
            label{
                text-align: start;
                padding-left: 10px;
                margin-bottom: 5px;
            }
        }
        input{
            border-radius: 10px;
            border: 1px solid $primary-color;
            width: 200px;
            height: 30px;
            padding: 5px 20px;
        }
        textarea{
            width: 500px;
            height: 300px;
            margin-top: 30px;
            border-radius: 10px;
            border: 1px solid $primary-color;
            padding: 10px;
        }

        button {
            margin: 20px 0px;
            padding: 15px 25px;
            border: unset;
            border-radius: 15px;
            color: #212121;
            z-index: 1;
            background: #e8e8e8;
            position: relative;
            font-weight: 1000;
            font-size: 1.063rem;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            transition: all 250ms;
            overflow: hidden;
        }
        
        button::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;
            border-radius: 15px;
            background-color: $second-color;
            z-index: -1;
            -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
            transition: all 250ms
        }
        
        button:hover {
            color: #e8e8e8;
            cursor: pointer;
        }
        
        button:hover::before {
            width: 100%;
        }
    }
    a{
        text-decoration: none;
        color: white;
        margin-bottom: 20px;
        margin-top: 5px;
    }
    a:hover{
        text-decoration: underline;
    }
}

footer{
    background-color: $primary-color;
    border-top: 3px solid $second-color;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    a,p{
        text-decoration: none;
        color: white;
    }
    div{
        display: flex;
        gap: 20px;
        i{
            font-size: 1.875rem;
        }
        i:hover{
            transform: scale(1.2);
        }
    }
    p{
        a:hover{
            text-decoration: underline;
        }
    }
}

@media (max-width: 500px) {
    header{
        padding: 0px;
        ul{
            margin-bottom: 20px;
        }
    }
    .wave{
        width: 100vw;
    }
    .portfolio{
        article{
            width: 300px;
        }
        div{
            article{
                img{
                    width: 300px;
                }
            }
            row-gap: 70px;
        }
    }

    .contact{
        h2{
            font-size: 3.125rem;
        }
        form{
            .nameAndEmail{
                flex-direction: column;
            }
            .divInput{
                margin-bottom: 20px;
            }
            textarea{
                width: 300px;
                margin-top: 0px;
            }
        }
    }


    footer{
        flex-direction: column;
        row-gap: 20px;
    }
}